@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 97%;
    --foreground: 215 28% 17%;
    --card: 210 100% 97%;
    --card-foreground: 215 28% 17%;
    --popover: 210 100% 97%;
    --popover-foreground: 215 28% 17%;
    --primary: 13 71% 62%;
    --primary-foreground: 20 0% 100%;
    --secondary: 210 40% 93%;
    --secondary-foreground: 215 28% 17%;
    --muted: 210 40% 95%;
    --muted-foreground: 215 20% 45%;
    --accent: 197 71% 73%;
    --accent-foreground: 215 28% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 90%;
    --input: 210 40% 92%;
    --ring: 13 71% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 216 33% 15%;
    --foreground: 210 100% 97%;
    --card: 216 33% 15%;
    --card-foreground: 210 100% 97%;
    --popover: 216 33% 15%;
    --popover-foreground: 210 100% 97%;
    --primary: 13 71% 62%;
    --primary-foreground: 20 0% 100%;
    --secondary: 216 33% 25%;
    --secondary-foreground: 210 100% 97%;
    --muted: 216 33% 25%;
    --muted-foreground: 210 40% 75%;
    --accent: 197 71% 73%;
    --accent-foreground: 210 100% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 33% 25%;
    --input: 216 33% 25%;
    --ring: 13 71% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-12 md:py-24 lg:py-32;
  }
}

.cubist-image-grid > div {
  transform: scale(0) rotate(90deg) translate(50px, 50px);
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  will-change: transform;
}

.cubist-image-grid[data-in-view='true'] > div {
  transform: scale(1) rotate(0deg) translate(0, 0);
}
